body {
    font-family: 'Arial', sans-serif;
    background-image: url(./components/img/230700872-d5f44b85-56c7-4e27-80a4-6e2db901e60c.gif);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-family: 'Arial Black', sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
}

button {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}

button:hover {
    background-color: #ff1f1f;
}

button:focus {
    outline: none;
}

@media only screen and (max-width: 320px) {
    body {
        padding: 10px;
    }

    button {
        padding: 10px 20px;
        font-size: 16px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 600px) {
    body {
        padding: 20px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1025px) {
}
