body {
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../img/loading.gif);
    background-size: cover;
}

@keyframes ascend {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

#pergunta {
    color: #fff;
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#result {
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 18px;
}

#rest-opc {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

button {
    background-color: black;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: white;
    color: purple;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #a8dadc;
}

#imagem-fundo {
    width: 3%; 
    margin-top: 24%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    border: 2px solid white;
}

@media only screen and (max-width: 320px) {
    body {
        padding: 10px;
    }

    button {
        padding: 10px 20px;
        font-size: 16px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 600px) {
    body {
        padding: 20px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1025px) {
}