<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz de Programação</title>
    <link rel="stylesheet" href="./component.quest1.css">
    <link rel="shortcut icon" href="../img/289-2892018_code-geass-transparent-code-geass-logo-hd-png-removebg.png" type="image/x-icon">
</head>
<body>
    <h1 id="pergunta">acerte</h1> 
    
    <div id="rest-opc">
        
        <div id="result"></div>

        <div id="quiz"></div>

        <button id="reset">Reiniciar</button>

        <a id="return" href="/index.html"><button>Página incial</button></a>

        <div id="resultado" style="display: none;"></div>

    </div>

    <script type="module" src="../question.js"></script>
    <script type="module" src="./component.quest1.js"></script>
</body>
</html>
