<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz 2</title>
    <link rel="stylesheet" href="./component.quest1.css">
</head>
<body>
    <h1 id="pergunta">acerte</h1> 
    
    <div id="rest-opc">
        
        <div id="result"></div>

        <div id="quiz"></div>

        <button id="reset">reiniciar</button>
    </div>

    <script src="/assets/script.js"></script>
    <script type="module" src="../question.mjs"></script>
    <script type="module" src="./component.quest1.js"></script>
</body>
</html>